name: Lint Rust

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - run: rustup component add clippy
      - run: cargo install cargo-machete

      - run: cargo clippy --all-targets --all-features -- -D warnings
      - run: cargo machete